//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

// media
@import "_misc/media";

//normalize
@import "_misc/normalize.scss";

// setups
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/layout";

// components
@import "./blocks/section.scss";
@import "./blocks/header.scss";
@import "./blocks/menu.scss";
@import "./blocks/hamburger-menu-link.scss";
@import "./blocks/cross.scss";
@import "./blocks/overlay.scss";
@import "./blocks/hero.scss";
@import "./blocks/btn.scss";
@import "./blocks/scroll-down.scss";
@import "./blocks/features.scss";
@import "./blocks/feature.scss";
@import "./blocks/burgers.scss";
@import "./blocks/ingredients.scss";
@import "./blocks/burger-weight.scss";
@import "./blocks/slider-wrap.scss";
@import "./blocks/team.scss";
@import "./blocks/menu-burger.scss";
@import "./blocks/menu-acco.scss";
@import "./blocks/reviews.scss";
@import "./blocks/review.scss";
@import "./blocks/order.scss";
@import "./blocks/order-link.scss";
@import "./blocks/switch-controls.scss";
@import "./blocks/checkbox.scss";
@import "./blocks/map.scss";
@import "./blocks/footer.scss";
@import "./blocks/social.scss";
@import "./blocks/overlay-btn.scss";
@import "./blocks/fixed-menu.scss";
@import "./blocks/player.scss";
@import "blocks/video.scss";



