.burger-weight{
    position: absolute;
    top: 80%;
    opacity: .5;

    @include tablets {
        top: 0;
        right: 20%
    }
    @include phones {
        right: 0;
    }
    @include iPhone5 {
        top: 0;
    }


    &__measure{
        background: url(../img/icons/kkal.svg) 50% no-repeat;
        width: rem(75px);
        height: rem(74px);
        position: relative;
    }

    &__amount {
        position: absolute;
        bottom: rem(8px);
        left: 52%;
        transform: translateX(-50%);
        color: white;
        @include gagalin(); 
        font-size: rem(20px);
    }

    &__title {
        @include gagalin();
        text-align: center;
        color: white;
        font-size: rem(14px);
    }
}
