.checkbox  {
  cursor: pointer;
  border-radius: 0rem;

  display: inline-block;
  width: 16px;
  height: 16px;
  background: rgb(255, 255, 255);
  border: solid 1px #c8c8c8;
  position: relative;
  margin-right: rem(10px);
  border: none;

  &::after {
    content: " ";
    display: inline-block;
    width: 0px;
    height: 0px;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.switch-controls__checkbox:checked ~ .checkbox::after{
  background: url("../../img/icons/check.png");
  background-size: contain;
  width: rem(11px);
  height: rem(9px);
  transition: .3s;
}