.hero {
  background: url("../img/bg/hero-bg.png") center center / cover no-repeat;
  color: #fff;
  position: relative;
}

.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu__link {
  font-size: rem(13px);
  @include ubuntu($style: bold);
}


.hero__desc {
  font-size: rem(65px);
  @include lifehack();
  line-height: 1.1;
}

.hero__content {
  display: flex;
  align-items: center;
  flex: .8;
  margin-left: rem(15px);
}

.hero__text {
  width: 50%;
  padding-top: rem(94px);
  margin-left: rem(11px);
}

.hero__image {
  width: 50%;
}