.menu-acco {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;

	display: flex;
    z-index: 1;
    justify-content: flex-end;

	@extend %clearfix;


	&__item {
		display: flex;
		&.is-active {
			@include phones {
				flex-shrink: 0;
				order: 1;
				width: 100%;
			}
	
			.menu-acco__trigger-text {
				color: $yellow;
			}
			
			.menu-acco__content {
				color: #fff;
				transition: width .4s, color .4s .3s;
	
				overflow: initial;
				@include iPhone5 {
					padding: 10% 5%;
				}
			}
	
		}
	}


	&__content {
		height: 100%;
		background: rgba(#2f3234, .93);
		width: 0;
		overflow: hidden;
		transition: width .4s;
		color: rgba(255, 255, 255, 0);

	}

	&__text {
		@include ubuntu(light);
		font-size: rem(14px);
		width: 100%;
		line-height: 1.8;
		padding: rem(60px) rem(30px);
	}
}



.menu-acco__trigger {
	width: rem(80px);
	display: block;
	height: 100%;
	@include cover;
	text-decoration: none;
	position: relative;

	@include iPhone5 {
		width: rem(50px);
	}
	
}

.menu-acco__trigger-text {
	font-size: rem(40px);
	color: #fff;
	@include gagalin;
	text-align: center;
	white-space: nowrap;
    position: absolute;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    left: 50%;
    top: 100%;
    margin-top: rem(-20px);

}



