.slider {
    &__list {
        display: flex;
        left: 0%;
        transition: transform .3s;
        position: relative;
    }

    &-wrap {
        overflow: hidden;
    }

    &__title {
        color: white;
        margin-bottom: rem(56px);

        @include phones {
            font-size: rem(53px);
            padding: 0 10%;
        }
        @include iPhone5 {
            margin-bottom: rem(25px);
        }

    }

    &__text {
        font-family: 'Ubuntu';
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        color: white;
        margin-bottom: rem(34px);

        @include tablets {
            text-align: center;
        }

        @include iPhone5 {
            margin-bottom: rem(5px);
        }
    }

    

    &__item {
        display: flex;
        align-items: flex-end;
        position: relative;
        width: 100%;
        flex-shrink: 0;
        padding-bottom: rem(80px);

        @include tablets {
            flex-direction: column;
            align-items: center;
            padding-top: rem(80px);
        }
        @include iPhone6 {
            padding-bottom: 0;
            padding-top: rem(110px);
        }
        @include iPhone5 {
            padding-top: rem(46px);
        }
    }

    &__pic {
        max-width: 100%;
        @include phones {
            padding: 0 10%;
        }
    }

    &__options {
        display: flex;
        align-items: flex-end;
    }

    &__price {
        display: flex;
        align-items: flex-end;
        font-family: 'Gagalin-Regular', Helvetica, sans-serif;
        color: #e35028;
        text-transform: uppercase;
        line-height: 1;
    }

    &__price-amount{
        font-size: rem(72px);
    }

    &__price-measure{
        font-size: rem(30px);
    }

    &__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1rem;
        z-index: 20;
    }

    &__btn_next{
        right: -2.5rem;
        @include tablets {
            right: 1.5rem;
        }
        @include iPhone5 {
            right: 0;
        }
    }

    &__btn_prev{
        left: -2.5rem;
        @include tablets {
            left: 1.5rem;
        }
        @include iPhone5 {
            left: -0.2rem;
        }
    }

    &__button {
        margin-left: rem(29px);
    }

    &__right {
        width: 100%;
        @include tablets {
            align-items: center;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 0 rem(110px);
        }

        @include phones {
            padding: 0 rem(10px);
            
        }
    }
}

.slider__left,
.slider__right {
    flex: 1;
}
