.switch-controls{
    position: relative;

    &__buttons {
        display: flex;
    }

    &__elem {
        display: flex;
        margin-right: rem(20px);
        align-items: center;
    }

    &__elem-title {
        color: white;
        font-size: rem(14px);
    }

    &__radio {
        display: none;
    }

    &__radio-fake {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: rgb(255, 255, 255);
        border: solid 1px #c8c8c8;
        border-radius: 50%;
        position: relative;
        margin-right: rem(10px);
        cursor: pointer;
        border: none;
    }
    
    &__radio-fake::after {
        content: " ";
        display: inline-block;
        width: 0px;
        height: 0px;
        background-color: #e35028;
      
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
  
.switch-controls__radio:checked ~ .switch-controls__radio-fake:after {
    height: 8px;
    width: 8px;
    border-radius: 50%;
}


.switch-controls__checkbox {
    position: absolute;
    top: 0;
    left: -624.9375rem;
}

.switch-controls__checkbox:checked ~ .checkbox::after{
    background: url("../../img/icons/check.png");
    background-size: contain;
    width: rem(11px);
    height: rem(9px);
    transition: .3s;
}
